<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Gestión de Libros</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/agregar_libro">Agregar Libro</a>
            <a href="/buscar_libros">Buscar Libros</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>